node_modules
*.js.map

# Ignore everything except for the info file
src/assets/*
!src/assets/sprites
src/assets/sprites/*
!src/assets/sprites/spriteInfo.json

# VS Code
.vscode/*
!.vscode/launch.json
